body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.hero {
    display: grid;
    /* grid-template: 24px 32px / 100px 1fr; */
    grid-template-rows: minmax(80px, 150px) 80px;
    justify-content: center;
}

.hero .title {
    font-family: 'Pacifico', cursive;
    font-size: 3.5rem;

    background: -webkit-linear-gradient(#8a3ab9, #cd486b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    display: flex;
    align-items: center;
    text-align: center;
}

.hero .description {
    font-size: 1.2rem;
    color: #333;

    display: flex;
    justify-content: center;
    text-align: center;
}

.hero .description p {
    margin: 0;
}

.hero .description a {
    text-decoration: none;
    color: #8a3ab9;
}

.post-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 293px));
    justify-content: center;
    grid-gap: 28px;
}

.post {
    cursor: pointer;
    position: relative;
    /* width: 200px; */
    display: block;
}

.post-image {
    margin: 0;
}

.post-image img {
    width: 100%;
    vertical-align: top;
}

.post-overlay {
    background: rgba(0, 0, 0, .4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.post:hover .post-overlay {
    display: flex;
}

.post-comments {
    width: 80px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

.footer {
    height: 80px;
    background: #f5f5f5;
    margin-top: 80px;
    border-top: 1px solid #E7E7E7;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text p {
    font-size: 1rem;
    color: #333;
}

.footer-text a {
    text-decoration: none;
    color: #8a3ab9;
}

.footer .footer-text i {
    color: #cd486b;
}

@media screen and (max-width: 768px) {
    .post-list {
        grid-gap: 3px;
    }

    .hero .title {
        font-size: 2.5rem;
    }

    .hero .description {
        font-size: 1rem;
    }
}
